[submodule "Assets/MyLibrary"]
	path = Assets/MyLibrary
	url = https://github.com/DevHwangIT/MyLibrary.git
[submodule "Assets/_Assets/MyLibrary-Unity-"]
	path = Assets/_Assets/MyLibrary-Unity-
	url = https://github.com/DevHwangIT/MyLibrary-Unity-.git
